<configuration>
   
   <connectionStrings>
       <add name="localhost_EpiCentreNewDb_Connection" connectionString="XpoProvider=MSSqlServer;data source=.;integrated security=SSPI;initial catalog=EpiCentreNewDb" />
   </connectionStrings>
   <runtime>
      <gcServer enabled="true"/>
   </runtime>
</configuration>
