<configuration>
   
   <connectionStrings>
      <add name="localhost_EpiCentreNewDb_Connection" connectionString="XpoProvider=MSSqlServer;data source=.;integrated security=SSPI;initial catalog=EpiCentreNewDb" />
      <add name="localhost_EpiCentreNewDb_Connection 1" connectionString="XpoProvider=MSSqlServer;data source=135.181.68.196;user id=sa;password=L0g!cb0wered;initial catalog=EpiCentreNewDb;Persist Security Info=true" />
      <add name="localhost_EpiCentreNewDb_Connection 2" connectionString="XpoProvider=MSSqlServer;data source=135.181.68.196;user id=sa;password=L0g!cb0wered;initial catalog=EpiCentreNewDb;Persist Security Info=true" />
   </connectionStrings>
   <runtime>
      <gcServer enabled="true"/>
   </runtime>
</configuration>
